div{box-sizing: border-box;}

@font-face {
	font-family: HelveticaNeueMedium;
	src:url("../fonts/HelveticaNeueCyr-Medium.ttf");
}

@font-face {
	font-family: HelveticaNeueBlack;
	src:url("../fonts/HelveticaNeueCyr-Black.ttf");
}

@font-face {
	font-family: HelveticaNeueBold;
	src:url("../fonts/HelveticaNeueCyr-Bold.ttf");
}

@font-face {
	font-family: HelveticaNeueCondensedBold;
	src:url("../fonts/HelveticaNeueCyr-CondensedBold.ttf");
}

@font-face {
	font-family: HelveticaNeueLight;
	src:url("../fonts/HelveticaNeueCyr-Light.ttf");
}

@font-face {
	font-family: HelveticaNeueRoman;
	src:url("../fonts/HelveticaNeueCyr-Roman.ttf");
}


.add-services{
	padding: 102px 0 calc( 112px - 24px );
	width: 100%;
	max-width: 1920px;
	background: #414141;}

.add-services__container{
	padding: 0 ;
	margin: 0 auto;
	max-width: 1200px;}

.add-services__header{
	font-family: HelveticaNeueBold;
	line-height: 87px;
	font-size: 60px;
	color: #FFFFFF;
	text-align: left;
	background: transparent;
	padding-bottom: 36px;}

.add-services__bars{
	position: relative;
	z-index: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;}

.add-services__bars_item{
	/*box-sizing: inherit;*/
	position: relative;
	width: 23%;
	max-width: 282px;
	box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.2);
	background: #414141;
	border-radius: 2px;
	font-family: HelveticaNeueMedium;
	line-height: 23px;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	padding: 56px 0 53px; 
	margin-bottom: 24px;
	min-height: 238px;}

.add-services__bars_item:before{
	content: '';
	position: absolute;
	z-index: -1;
	width: 4px;
	height: 125px;
	background: #CDDD00;
	box-shadow: 0px 0px 20px rgba(205, 221, 0, 0.2);
	left: calc( 50% - 2px );
	bottom: -62.5px;}

.add-services__bars_item:after{
	content: '';
	position: absolute;
	z-index: -1;
	width: 4px;
	height: 125px;
	background: #CDDD00;
	box-shadow: 0px 0px 20px rgba(205, 221, 0, 0.2);
	transform: rotate(-90deg);
	right: 0;
	top: calc( 50% - 65px + 2px);}


.add-services__bars_item:nth-child(n+9):before,
.add-services__bars_item:nth-child(2):before,
.add-services__bars_item:nth-child(3):before,
.add-services__bars_item:nth-child(6):before,
.add-services__bars_item:nth-child(7):before{ display: none; }

.add-services__bars_item:nth-child(4n):after{ display: none; }

.add-services__bars_item img{
	display: block;
	margin: 0 auto;
	padding-bottom: 19px;}



#add-services__pic-5,
#add-services__pic-6{ padding-bottom: 17px; }

#add-services__pic-8{ padding-top: 11px; }
#add-services__pic-9{ padding-bottom: 15px; }
#add-services__pic-10{
	margin-top: -2px;
	padding-bottom: 19px;}
#add-services__pic-10,
#add-services__pic-11{ padding-bottom: 16px; }

#add-services__pic-12{
	padding-top: 5px;
	padding-bottom: 12px; }

.add-services__bars_item-text{
	max-width: 80%;
	margin: 0 auto;}

#Vector{ max-width: 47px; }

@font-face {font-family:HelveticaNeueCyr;
  src:url("../fonts/helvetica-neue-cyr_normal/font.ttf");
  font-weight: normal;
  font-style: normal;}



@media screen and (max-width: 991px) {
 .add-services__bars_item{
 	width: 33%;
	max-width: none;
	margin-bottom: 0.5%;
	min-height: 0;
 }
 .add-services__header{
 	line-height: 1.2;
 }

.add-services__bars_item:before,
.add-services__bars_item:after{	display: none; }
}


@media screen and (max-width: 767px) {
 .add-services__header{
	font-size: 44px;}

.add-services__bars_item{
	font-size: 12px;
	padding: 44px 0 39px;}
}

@media screen and (max-width: 649px) {
.add-services__bars_item{
	padding: 44px 0 39px;}

.add-services__bars_item{
	width: 49%;
    margin-bottom: 2%;}
}

@media screen and (max-width: 494px) {
	.add-services__container{ padding: 0 20px; }
	.add-services__header{	font-size: 40px; }

	.add-services__bars_item{
	font-size: 12px;
	padding: 34px 0 29px;}


@media screen and (max-width: 494px) {
	.add-services__header{	font-size: 32px; }
	.add-services__bars_item-text{	max-width: 90%;}

	.add-services__bars_item{
	font-size: 12px;
	padding: 30px 0 25px;}
}

@media screen and (max-width: 419px) {
.add-services__bars_item img{ width: 7vh; }
}

	