@font-face {
  font-family: HelveticaNeueMedium;
  src: url("../fonts/HelveticaNeueCyr-Medium.ttf"); }

@font-face {
  font-family: HelveticaNeueBlack;
  src: url("../fonts/HelveticaNeueCyr-Black.ttf"); }

@font-face {
  font-family: HelveticaNeueBold;
  src: url("../fonts/HelveticaNeueCyr-Bold.ttf"); }

@font-face {
  font-family: HelveticaNeueCondensedBold;
  src: url("../fonts/HelveticaNeueCyr-CondensedBold.ttf"); }

@font-face {
  font-family: HelveticaNeueLight;
  src: url("../fonts/HelveticaNeueCyr-Light.ttf"); }

@font-face {
  font-family: HelveticaNeueRoman;
  src: url("../fonts/HelveticaNeueCyr-Roman.ttf"); }

* {
  box-sizing: border-box; }

.page {
  max-width: 1200px;
  margin: 0 auto; }

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 68px; }

.header__img {
  align-self: flex-start; }

.header__links {
  display: flex;
  align-items: center;
  width: 56%; }
  .header__links ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none; }
    .header__links ul li:not(:first-child)::after {
      content: url("../img/polygon.svg"); }
    .header__links ul li a {
      text-decoration: none;
      color: #555555;
      font-family: HelveticaNeueBold;
      font-size: 18px; }
    .header__links ul li a:hover {
      text-decoration: underline; }

.header__contacts {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.header__phone-num {
  font-family: HelveticaNeueCondensedBold;
  font-size: 20px;
  margin-bottom: 5px;
  color: #BFDF14;
  text-decoration: none; }

.header__email {
  font-family: HelveticaNeueLight;
  font-size: 18px;
  margin-top: 5px;
  color: #3477DB; }

.banner {
  background-image: url("../img/arenda.png");
  height: 675px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center; }

.banner__text-background {
  background: rgba(205, 221, 0, 0.8);
  /*margin:100px 0;*/
  width: 100%;
  min-height: 267px;
  padding: 42px 0; }

.banner__text h1 {
  font-family: HelveticaNeueBlack;
  font-size: 48px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -1px; }

.banner__text p {
  font-family: HelveticaNeueCondensedBold;
  line-height: 36px;
  font-size: 28px;
  color: #FFFFFF;
  text-align: center; }

.banner__line {
  width: 156px;
  border-bottom: 3px solid white;
  margin: 32px auto; }

.banner__sk {
  position: relative; }

.banner__sk-image {
  position: absolute;
  mix-blend-mode: soft-light;
  bottom: -42px;
  left: 72px; }

.text__attraction {
  text-align: center;
  font-family: HelveticaNeueMedium;
  line-height: 53px;
  font-size: 30px;
  color: #555555;
  padding-top: 20px; }

.text__service {
  text-align: center;
  font-family: HelveticaNeueBold;
  line-height: 51px;
  font-size: 35px;
  margin-top: 100px;
  padding-bottom: 50px;
  color: #CDDD00; }

.service_box {
  background: #FFFFFF;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.06), 0px 4px 20px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  margin-bottom: 24px;
  min-height: 238px;
  display: flex;
  padding-top: 48px;
  flex-direction: column;
  justify-content: flex-start; }
  .service_box h3 {
    font-family: HelveticaNeueMedium;
    line-height: 28px;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FF8530;
    font-weight: normal; }
  .service_box p {
    font-family: HelveticaNeueRoman;
    line-height: 19px;
    font-size: 14px;
    text-align: center;
    color: #555555; }
  .service_box h4, .service_box .low_text {
    font-family: HelveticaNeueRoman;
    line-height: 28px;
    font-size: 22px;
    text-align: center;
    color: #FF8530; }
  .service_box sup {
    font-size: small;
    vertical-align: super;
    margin-left: -4px; }
  .service_box .low_text {
    margin: 0 30px; }

.service__low_text {
  display: flex;
  justify-content: center; }

.service__three-dots {
  text-align: center;
  margin: 3px 0; }

.services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .services .service_box {
    min-width: 282px;
    /*width:25%;*/ }
  .services .service_box:not(:first-child) {
    /*margin-left:12px;*/ }
  .services .service_box:not(:last-child) {
    /*margin-right:12px;*/ }

.image-gallery {
  display: flex; }

.img-slick {
  overflow: hidden; }

.left-arrow {
  max-width: 180px;
  display: flex;
  align-items: center;
  background-color: #2D2D2D;
  padding-left: 81px;
  padding-right: 81px;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  text-align: center;
  margin-right: 24px; }
  .left-arrow:hover {
    cursor: pointer;
    opacity: 0.8; }

.right-arrow {
  max-width: 180px;
  display: flex;
  align-items: center;
  background-color: #2D2D2D;
  padding-left: 81px;
  padding-right: 81px;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  text-align: center; }
  .right-arrow:hover {
    cursor: pointer;
    opacity: 0.8; }

.presentation {
  text-align: center;
  margin-top: 50px; }
  .presentation a {
    color: #555555;
    font-family: HelveticaNeueRoman;
    line-height: normal;
    font-size: 12px;
    text-decoration-skip-ink: none; }

.calendar {
  max-width: 48%;
  margin: 0 auto;
  font-family: HelveticaNeueBold;
  line-height: 28px;
  font-size: 22px;
  color: #FFFFFF;
  margin-top: 100px;
  min-width: 300px;
  background-color: #2D2D2D;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
  border-radius: 4px; }
  .calendar:hover {
    cursor: pointer;
    opacity: 0.8; }

.technical-specs__background {
  margin-top: 102px;
  background-color: #414141;
  padding-bottom: 102px;
  padding-top: 70px; }
  .technical-specs__background .page h2 {
    font-family: HelveticaNeueBold;
    line-height: 87px;
    font-size: 60px;
    color: #FFFFFF;
    margin-left: 15px; }

.technical-specs__list {
  list-style-image: url("../img/ellipse.svg");
  display: inline-block;
  vertical-align: top;
  padding-left: 14px;
  padding-top: 50px;
  padding-right: 110px;
  margin-left: 15px; }
  .technical-specs__list li {
    font-family: HelveticaNeueRoman;
    line-height: 26px;
    font-size: 16px;
    color: #FFFFFF; }

.organise-event__background {
  background-color: #CDDD00;
  padding-top: 80px;
  padding-bottom: 100px; }
  .organise-event__background h2 {
    font-family: HelveticaNeueBold;
    line-height: 87px;
    font-size: 60px;
    font-weight: normal;
    color: #FFFFFF;
    margin-left: 15px; }

.form__background {
  background-color: #F7F7F7;
  margin-top: 60px; }

.square_and_form {
  display: flex;
  flex-wrap: wrap; }

.unique-square {
  width: 50%;
  text-align: center;
  background-color: white;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin-top: -6px;
  margin-bottom: -6px;
  padding: 50px 100px; }
  .unique-square p {
    font-family: HelveticaNeueRoman;
    line-height: 33px;
    font-size: 18px;
    text-align: center;
    color: #555555;
    padding-bottom: 50px; }

.unique-square__images {
  display: flex;
  justify-content: space-around; }
  .unique-square__images img {
    display: block; }

.unique-square__line {
  border-bottom: 2px solid #FF8530;
  max-width: 56px;
  margin: 30px auto; }

.request-form {
  padding: 20px 30px;
  width: 50%;
  text-align: left; }
  .request-form h3 {
    font-family: HelveticaNeueBold;
    line-height: normal;
    font-size: 24px;
    color: #555555;
    font-weight: normal; }
  .request-form input {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: none;
    padding: 10px 10px;
    width: 80%;
    /*padding:15px 10px;*/ }
  .request-form input[type="submit"] {
    background-color: #CDDD00;
    color: white;
    font-family: HelveticaNeueBold;
    line-height: normal;
    font-size: 22px;
    margin-top: 28px;
    padding: 15px 10px;
    text-align: center; }
  .request-form label {
    font-family: HelveticaNeueRoman;
    line-height: normal;
    font-size: 12px;
    color: #9B9B9B;
    margin-top: 15px;
    margin-bottom: 4px;
    /*padding:15px 10px;*/ }
  .request-form .comment {
    text-align: left;
    resize: none;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: none;
    width: 80%;
    padding: 15px 10px; }
  .request-form .comment__img {
    vertical-align: top;
    align-self: flex-start;
    padding-top: 5px; }
  .request-form .form__field {
    display: flex;
    align-items: flex-end; }
  .request-form .form__img {
    width: 10%;
    text-align: right;
    /*align-self:flex-end;*/
    padding-right: 10px;
    padding-bottom: 5px; }
  .request-form .form__element {
    width: 90%;
    text-align: left;
    max-width: 394px; }

.contact-us {
  margin-bottom: 80px; }

.contact-header {
  font-family: HelveticaNeueBold;
  line-height: normal;
  font-size: 60px;
  padding: 60px 0;
  color: #555555; }

.contact_and_form {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.contact {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap; }

.contact-photo {
  border-radius: 50%;
  min-height: 282px; }

.contact-info {
  padding-top: 70px;
  padding-left: 20px; }

.contact__phone-num {
  display: block;
  font-family: HelveticaNeueMedium;
  line-height: normal;
  font-size: 16px;
  line-height: 25px;
  color: #FF8530;
  text-decoration: none; }

.person-name {
  font-family: HelveticaNeueBold;
  line-height: normal;
  font-size: 18px;
  color: #555555; }

.person-position {
  font-family: HelveticaNeueLight;
  line-height: normal;
  font-size: 14px;
  color: #555555; }

.contacts__request-form {
  padding-top: 0; }

.big-sk {
  position: relative; }

.big-sk__img {
  position: absolute;
  z-index: -1;
  left: 132px;
  /*top:-295px;*/
  bottom: 0; }

.footer-background {
  background-color: #414141;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  font-family: HelveticaNeueCondensedBold;
  color: #A9A9A9;
  padding-top: 50px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 30px; }

.footer-lists {
  text-align: left;
  padding-bottom: 50px; }

.footer-list {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  text-align: left;
  padding-right: 45px; }
  .footer-list li a {
    font-size: 14px;
    line-height: 22px;
    font-family: HelveticaNeueCondensedBold;
    color: #A9A9A9;
    text-decoration: none; }
  .footer-list li a:hover {
    text-decoration: underline; }
  .footer-list li:first-child {
    margin-bottom: 20px; }
    .footer-list li:first-child a {
      font-size: 16px;
      line-height: 36px;
      font-family: HelveticaNeueCondensedBold;
      color: white;
      text-decoration: none;
      text-transform: uppercase; }
    .footer-list li:first-child a:hover {
      text-decoration: underline; }

.footer-user-links {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end; }

.footer-user-links__img {
  position: relative;
  left: 0; }

.footer__links {
  display: flex;
  justify-content: center;
  width: 80%;
  flex-wrap: wrap; }
  .footer__links a {
    text-decoration: none;
    color: #A9A9A9;
    margin: 0 20px; }
  .footer__links a:hover {
    text-decoration: underline; }
  .footer__links p {
    margin: 0 20px; }

.social-networks {
  margin-top: 50px;
  margin-bottom: 50px; }
  .social-networks a {
    text-decoration: none;
    margin: 10px 10px; }

.header__burger {
  display: none;
  /*position:relative;*/ }

.burger__bar1, .burger__bar2, .burger__bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s; }

.header__burger:hover {
  cursor: pointer; }

.burger-menu {
  display: none;
  /*position:absolute;*/
  top: 0;
  right: 0; }
  .burger-menu ul {
    margin-left: 15px;
    width: 90%;
    list-style: none;
    text-align: left; }
    .burger-menu ul li {
      /*display:inline-block;*/
      margin: 10px 0; }
      .burger-menu ul li a {
        text-decoration: none;
        color: #555555;
        font-family: HelveticaNeueBold;
        font-size: 24px; }
      .burger-menu ul li a:hover {
        text-decoration: underline; }

.js-burger-menu {
  display: block; }

@media screen and (max-width: 1280px) {
  .banner__text h1 {
    white-space: normal;
    text-align: center; } }

@media screen and (max-width: 1164px) {
  .footer-lists {
    text-align: center; }
  .footer-list {
    margin-right: 0;
    padding-right: 20px; }
    .footer-list :not(:first-child) {
      display: none; } }

@media screen and (max-width: 1147px) {
  .services :last-child {
    margin-left: auto;
    margin-right: auto; } }

@media screen and (min-width: 970px) {
  .js-burger-menu {
    display: none; } }

@media screen and (max-width: 960px) {
  .header__links {
    display: none; }
  .header__burger {
    display: block;
    align-self: center; }
  .header {
    margin-bottom: 0; } }

@media screen and (max-width: 865px) {
  .services :last-child {
    margin-left: 0;
    margin-right: 0; } }

@media screen and (max-width: 850px) {
  .unique-square {
    width: 100%; }
  .request-form {
    width: 100%; }
  .contact-us {
    text-align: center; }
  .contact {
    width: 100%;
    justify-content: center; }
  .contacts__request-form {
    padding-top: 50px; }
  .organise-event__background {
    padding-bottom: 0; } }

@media screen and (max-width: 583px) {
  .services {
    justify-content: center; } }

@media screen and (max-width: 572px) {
  .low_text {
    padding-bottom: 15px; }
  .text__service {
    margin-top: 15px;
    padding-bottom: 24px;
    margin-bottom: 24px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.06), 0px 4px 20px rgba(0, 0, 0, 0.08);
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px; } }

@media screen and (max-width: 523px) {
  .left-arrow, .right-arrow {
    padding-left: 10px;
    padding-right: 10px; }
  .image-gallery {
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px; }
  .left-arrow {
    margin-right: 0; }
  .calendar {
    margin-top: 15px; }
  .technical-specs__background {
    margin-top: 15px; } }

@media screen and (max-width: 515px) {
  .big-sk, .banner__sk {
    display: none; } }

@media screen and (max-width: 430px) {
  .technical-specs__background .page h2 {
    font-size: 36px;
    line-height: 1; } }

@media screen and (max-width: 430px) {
  .organise-event__background .page h2 {
    font-size: 36px;
    line-height: 1; }
  .unique-square {
    padding-left: 15px;
    padding-right: 15px; }
  .contact-header {
    font-size: 36px; }
  .header__contacts {
    display: none; }
  .header {
    margin-bottom: 0; } }

@media screen and (max-width: 412px) {
  .banner__text h1 {
    font-size: 36px; }
  .banner__text p {
    font-size: 20px;
    line-height: 1.3; }
  .text__attraction {
    font-size: 20px;
    line-height: 1;
    padding-left: 15px;
    padding-right: 15px; }
  .text__service {
    margin-top: 15px; } }

@media screen and (max-width: 322px) {
  .calendar {
    min-width: 280px; } }
